<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Page is Not found 404</p>
    <img src="https://www.coengoedegebure.com/content/images/2017/08/default404.gif"  alt="">
    <a href="/">GO Home</a>
</body>
</html>