<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">

  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/searches/new">Search</a>
    </nav>
    <h1> Best books! </h1>

</header>
<main>
  <form action="/search" method="POST">
    <input name="query" type="text" placeholder="Enter book author or title">
    <br>
   <label >Title <input type="radio" value="title" name="searchOption" checked required ></label> 
   <br>
   <label >Author <input type="radio" value="author" name="searchOption" required ></label> 
<br>
    <button>GO</button>
</form>
</main>
</body>
</html>